/* define font of dashboard */
body {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0px 20px 20px 20px;
}

/* header styling */
header {
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #1b6494 0%, #253B91 53%, #1E2775 100%);
}

/* header styles */
h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0px 10px 5px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0px 10px 5px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0px;
}

/* weather icon sizes */
img {
  width: 50px;
  height: 50px;
}

.card {
  padding: 0px 10px 0px 10px;
  margin: 20px 0px 15px 0px;
  border: none;
}

#searchHistory {
  padding: 15px 10px 0px 10px;
}

#searchHistory button {
  width: 100%;
}

.btn {
  margin: 10px 0px;
}

/* current weather card style */
.city-card {
  border: 1px solid black;
}

/* 5-day forecast styles */
.forecast {
  color: white;
  background-color: #323856;
  margin: 10px;
  padding: 10px;
}